/* accordion css */

.accordion_one .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
}
.accordion_one .panel-heading a.collapsed:after {
    content:"\e080";
}

.accordion_one .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.accordion_one .panel-group .panel {
    border: 1px solid #dedede;
    -webkit-box-shadow: none;
    box-shadow: none; 

}

.accordion_one .panel-group .panel-heading {
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 15px;
}


.accordion_one .panel-group .panel-heading[aria-expanded="true"] {
    color: #FFFFFF !important;
    /* border: 1px solid #fbc680; */
    background-color: #F19401;
}

.accordion_one .panel-group .panel-heading .panel-title {
    font-size: 14px;
    font-weight: 700 !important;
}

.accordion_one .panel-group .panel-heading .panel-title  {
 color: #014687;


}

.accordion_one .panel-group .panel-heading .panel-title i, .accordion_one .panel-heading a:after{
 color: #f6a34f;


}



.accordion_one .panel-group .panel-body {
    padding: 15px;
    background-color: #ffffff; 
        border-top: 2px solid #fab46e !important;
}

.accordion_one .panel-group .panel+.panel {
    margin-top: 2px;
}


.collapsebtn3.collapsed {
    width: 9px;
    height: 6px;
    border: 0px solid black;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    background: url(../../images/arrows.png) scroll 0 0 no-repeat;
}
.collapsebtn3 {
    width: 9px;
    height: 6px;
    border: 0px solid black;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    background: url(../../images/arrows.png) scroll 0 -6px no-repeat;
}

.accordion_one .panel-group .panel {
    margin-bottom: -3px;
    border-radius: 0px;
}




/* accordion 2*/

/* accordion css */

button.accordion_tr:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
}
button.accordion_tr .collapsed:after {
    font-family:'Glyphicons Halflings';
    content:"\e080";
}

.collapsebtn{
width:100%;
height:32px;
border:0px solid black;
text-align:left;
padding-left:20px;
padding-right:20px;
color:#666;
font-family:"Roboto";
font-size:14px;
font-weight:700;
}
.collapsebtn.last{

}
.collapsebtn span.collapsearrow{
width:9px;
height:8px;
float:right;
margin-top:10px;
background:url('../../resources/img/collapsearrow.png') scroll 0 -6px no-repeat;
-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;
}
.collapsebtn.collapsed span.collapsearrow{
width:9px;
height:8px;
float:right;
margin-top:10px;
background:url('../../resources/img/collapsearrow.png') scroll 0 0px no-repeat;
-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;
}


.collapsebtn2 {
    width: 100%;
    height: 34px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    color: #014687;

    font-size: 14px;
    font-weight: 700;
    background: #f5f5f5;
    margin-bottom: 5px;
    border: 1px solid #C1BCBC;
}

.collapsebtn2[aria-expanded="true"] { 

    color: #FFFFFF !important;
    border-bottom: 2px solid #fbc680;  
    background-color: #004687;   
} 

.nivel2 .collapsebtn2 {
    width: 100%;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    color: #014687;

    font-size: 14px;
    font-weight: 700;
    background: #FFFFFF;
    margin-bottom: 6px;
    border: 1px solid #ccc;
}



 .collapse.in .collapsebtn2[aria-expanded="true"] { 

color: #F29400  !important; 
border: 1px solid #F29401;
} 


.nivel2
.collapsebtn2.last{

}
.collapsebtn2 span.collapsearrow{
width:9px;
height:8px;
float:right;
margin-top:5px;
background:url('../../resources/img/collapsearrow.png') scroll 0 -8px no-repeat;
-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;
}
.collapsebtn2.collapsed span.collapsearrow{
width:9px;
height:8px;
float:right;
margin-top:6px;
background:url('../../resources/img/collapsearrow.png') scroll 0 0px no-repeat;
-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;
}





.collapsebtn3{
width:9px;
height:6px;
border:0px solid black;
text-align:left;
padding-left:20px;
padding-right:20px;
font-family:"Roboto";
font-size:14px;
font-weight:400;
background:url('../../resources/img/arrows.png') scroll 0 -6px no-repeat;
}
.collapsebtn3.collapsed{
width:9px;
height:6px;
border:0px solid black;
text-align:left;
padding-left:20px;
padding-right:20px;
font-family:"Roboto";
font-size:14px;
font-weight:400;
background:url('../../resources/img/arrows.png') scroll 0 0 no-repeat;
}
