/* BEGIN Thin */
@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Thin/Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Thin/Roboto-Thin.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Thin/Roboto-Thin.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Thin Italic */ 


@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../resources/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../resources/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../resources/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../resources/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../resources/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* BEGIN Light */
@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Light/Roboto-Light.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Light/Roboto-Light.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* END Light */

@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* END Regular */

/* BEGIN Medium */
@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Medium/Roboto-Medium.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Medium/Roboto-Medium.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Medium/Roboto-Medium.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* END Medium */

/* BEGIN Bold */
@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: normal; } 
@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: normal; } 
/* END Bold */
/* BEGIN Bold Italic */

/* BEGIN Black */
@font-face {
  font-family: "Roboto";
  src: url("../../resources/fonts/Black/Roboto-Black.woff2?v=1.1.0") format("woff2"), url("../../resources/fonts/Black/Roboto-Black.woff?v=1.1.0") format("woff"), url("../../resources/fonts/Black/Roboto-Black.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: normal; } 
/* END Black */

/*# sourceMappingURL=roboto.css.map */
