

/*  formulario geral */

#page-wrapper {
  background-color: #f1f2f7 !important;
}


.panel-default>.panel-heading {
    background-color: #f2f2f2;
    color: #004687;
    border-bottom: 1px solid #ccc;
    font-weight: 700; 
    padding-left: 5px;
    margin-bottom: 0px;

}

.panel-body {
  padding: 0px; 
  background-color: #fbfbfb;  
}



.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0px;
  border-radius: 4px;
}




.canal {
  text-transform: normal;
  color: #000;

  font-weight: 300;
  margin-bottom: 0px;
  background: #f5f5f5; 

  min-height: 45px;
  clear: both;
  border-bottom: 1px solid #e6e5e5;
  padding: 0px 5px 0px 10px;

}


.footer_canal {
    position: fixed;
    background: #f5f5f5;
    min-height: 45px;
    bottom: 0px;
    width: 100%;
    /* min-height: 30px; */
    /* height: 30px; */
    /* margin-top: 20px; */
    /* color: #83919B; */
    /*z-index: 2000;*/ 
    /* font-size: 11px; */
    border-top: 1px solid #ccc;
    padding: 15px 0px; 
}

.height_30{height: 30px;}  

/* pagging label sexo */

.check_set2 .checkbox label, .check_set2 .radio label {  
    padding-left: 3px; 
        padding-right: 10px; 

}


.canal .icon i {

  left: 0;
  top: 0;
  color: #dadada;
  padding-left: 0px;    

}
  .canal-select{ float: right;} 
  #formTopo{ float: left}  
.wrapper .canalfixo {
    margin-top: -60px;
    margin-left: -15px !important;
    margin-right: -15px !important;
    position: fixed;
    width: 100%;
    z-index: 6; 
}



.tools a {
  margin-right: 5px;
    margin-left:5px;
  color: #a7a7a7;

  padding: 1px;
}



a .selected:before {
  display: block;
  height: 41px;
  position: absolute;
  right: -10px;
  top: -1px;
  width: 11px;
  content: "\e16c";
  font-family: 'clip-font';
  line-height: 41px;
  font-size: 24px;
}

.panel-heading > [class^="fa-"],
.panel-heading > [class*=" fa-"] {
  padding: 12px 10px 8px;
  left: 0;
  top: 0;
  height: 35px;
  color: #dadada;
}

.panel-default {
  margin-top: 10px;
}

.panel {
  margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;


}

.panel_semborda {
    margin-bottom: 0px; 
    background-color: #fff;
    border: 0px solid #d2d2d2;
    border-radius: 0px;
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

.page-header {
  padding-bottom: 9px;
  margin: 12px 0 15px;
  border-bottom: 1px solid #eee;
}

.panel-footer {
   padding: 8px 4px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-footer .btn+.btn{

    margin-right: 10px;
    margin-left: 4px;
}

.border {


  border: 1px solid #ccc;
}

.border-right {


  border-right: 1px solid #ccc;
}


.inativo {
  z-index: 2;
  color: #000 !important;
  background-color: #f7f7f7 !important;
  border-color: #ccc !important;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}


/* analisar */

.form-horizontal.form_personalizado .form-group {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.form-horizontal .control-label {
  font-weight: bold;

  color: #050301;
}

.form-horizontal.form_personalizado .form-group:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.form-horizontal.form_personalizado .form-group .help-block {
  margin-bottom: 0;
}

.round-input {
  border-radius: 500px;
  -webkit-border-radius: 500px;
}


.form-horizontal.form_personalizado .checkbox-inline>input {
  margin-top: 1px;
  border: none; 
}



.btn.btn-info.dropdown-toggle {
  border-left: 1px solid #1fadea;
}

.roundstep.active {
    width: 23px;
    height: 23px;
    background: #f78b1f;
    color: #fff;
    border-radius: 23px;
    padding: 3px 0 0 7px;
    border: 1px solid #c4670a;
    left: -10px;
    position: relative; 
}

.roundstep {
  width: 23px;
  height: 23px;
  background: #fff;
  color: #666;
  border-radius: 23px;
  padding: 3px 0 0 px;
  border: 1px solid #ccc;
  font-weight: bold;
}



.busca_avancada {
    z-index: 100;
    /* position: absolute; */
    /* display: none; */
    background-color: #f7f7f7;
    width: 100%;
    /* padding: 5px 0px; */
    margin: 0px;
    border-radius: 3px;
    float: right;
    border: 2px solid #cecece;
}

.busca_avancada:after {
    top: 4px;
    right: 25px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #cecece;
    border-style: none double solid;
}

.busca_avancada:after, 
.busca_avancada:before {
  position: absolute;
  vertical-align: middle;
  width: 0;
  height: 0;
  content: "";
  display: block;
}

.busca_avancada .form-group {
    margin-bottom: 5px;
}


.ordenar_galeria {
  border: 1px solid #ccc;
  margin: 15px
}

.galeria_item2 {
  border: 1px solid #ccc;
  margin-top: 10px;
}


.input-group-addon {
    padding: 0px 5px;
    font-size: inherit;
  }

.editarpolo {
  min-height: 260px;
  margin-bottom: 15px;
}

.dadospolo .panel-body {
  padding: 5px 0px 5px 0px;
  background-color: #ffffff;
  padding-bottom: 15px;
  border: 1px solid #f78b1f;
  border-top-left-radius: 0px;
}

.galeria_item .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px dashed #ddd;
  border-radius: 4px;
  min-height: 140px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.thumbnail:hover {
  border: 1px solid #F78B1F;
}

.thumbnail a>img,
.thumbnail>img {
  margin-top: 5px;
}


.footer {
  bottom: 0;
  width: 100%;
  min-height: 30px;
  height: 30px;
  /* margin-top: 20px; */
  color: #83919B;
  position: fixed;
  background-color: #f2f2f2;
  z-index: 2000;
  font-size: 11px;
  border-top: 1px solid #ccc;
  padding: 8px 0px;
}






.input-sm {
  height: 25px;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 25px;
}

.input-group-btn .btn-group {
  display: flex !important;
}



.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.add-on {
    float: right;
    margin-top: -34px;
    padding: 3px;
    text-align: center;
}

/*.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}*/

.panel-heading {
  padding: 7px;  
}

.panel-list>.panel-heading {
  border: 0px solid #eff2f7;
  color: #767676;
  text-transform: uppercase;
  padding: 15px;
  color: #00478B;
  border-bottom: 1px dotted #ccc;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.panel-list>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-list .panel-heading {
  padding: 15px 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel .panel-list {
  border: 0px solid transparent;
  border-radius: 0px;
}

.panel-list .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: inherit;
}

.help-block {
  font-size: 12px;
  font-style: italic;
}

.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}

/*Rounded Button*/

.btn-round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
}
/* button sets */


.input-group-btn .btn-group {
  display: flex !important;
}


.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}




.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-default.active, .btn-default:active, .open>.acessos_usuario.btn-default:active {
    color: #ffffff;
    background-color: #266ea4;
    border-color: #3d8eca;
    font-weight: bold;
}


/* tabs */

.tabs_internas .nav-tabs > li > a {
  background-color: #e7e7e7;
  border-bottom: none;
  border-radius: 0px 0px 0 0;
}

.tabs_internas .nav-tabs > li.active > a {
  background-color: #fff;
  border-bottom: none;
  border-radius: 0px 0px 0 0;
}

.tabs_internas .nav-tabs > li > a i {
  font-size: 20px !important;
  color: #2F679C;
}

.tabs_internas .nav-tabs > li > a.active i {
  font-size: 20px !important;
  color: #000;
}

.tabs_internas .nav-tabs > li > a.active {
  border-bottom: none;
  border-radius: 0px 0px 0 0;
}

.tabs_internas .nav-tabs > li > a:hover,
.tabs_internas .nav-tabs > li > a:focus {
  background-color: #fff !important;
  border-bottom: none;
  border-radius: 0px 0px 0 0;
}

.tabs_internas .nav > li > a {
  position: relative;
  text-transform: uppercase;
  display: block;
  padding: 15px 15px;
  color: #014587 !important;
  font-weight: bolder;
  margin-left: 0px;
  margin-right: 1px;
}

.tabs_internas .nav > li > a:hover {
  position: relative;
  text-transform: uppercase;
  display: block;
  padding: 15px 15px;
  color: #014687 !important;
  font-weight: bold;
}

.tabs_internas .nav > li > a.active {
  position: relative;
  text-transform: uppercase;
  display: block;
  padding: 15px 15px;
  color: #F19300 !important;
  font-weight: bolder;
}

.tabs_internas .nav-tabs.nav-justified > .active > a,
.tabs_internas .nav-tabs.nav-justified > .active > a:hover,
.tabs_internas .nav-tabs.nav-justified > .active > a:focus {
  background-color: #FFFFFF;
  color: #F29F1C !important;
  border-left: 1px solid #F29300;
  border-right: 1px solid #F29300;
  border-top: 1px solid #f29300;
  top: 1px;
}

.tabs_internas .tabs-sub .nav-tabs.nav-justified > .active > a,
.tabs_internas .tabs-sub .nav-tabs.nav-justified > .active > a:hover,
.tabs_internas .tabs-sub .nav-tabs.nav-justified > .active > a:focus {
  background-color: #FFFFFF;
  color: #000 !important;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-top: 2px solid #F29300;
}

.tabs_internas .tabs-sub .nav > li > a {
  position: relative;
  text-transform: capitalize;
  display: block;
  padding: 10px 10px;
  color: #777 !important;
  font-weight: bolder;
}

.tabs_internas .tabs-sub .panel-body {
  border: 1px solid #ddd;
  background-color: #fff;
  border-top-left-radius: 0px;
}


}
.tabs_internas .panel-body {
  border: 1px solid #F29300;
}



label.error {
    display: inline;
    margin: 5px 0;
    color: #ff0700;
    font-weight: 400;   
    clear: both;
    font-size: 10px;  
} 

input.error{border: 1px solid #f51313;}



.position-center {
    width:62%;
    margin: 0 auto;
}


.tema.btn-group {
    width: 100%; 
}

#backgroundcolor .btn:first-child {
    padding-left: 0;
}
#backgroundcolor .btn {
    padding: 5px 7px 4px 7px;
}

 #backgroundcolor .btn.active>div, #backgroundcolor .btn.active>div {
    border: 2px solid #303030;
    -webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 0 2px 10px rgba(0,0,0,0.08);
    box-shadow: inset 0 2px 10px rgba(0,0,0,0.08);
}





/* alertas home */

.noticificacoes{ overflow: auto; max-height: 400px; padding: 10px; } 
.noticificacoes .alert-info {
    color: #32323a !important;
    background-color: #fff !important;;
    border-color: #dfdfdf !important;;
}

.noticificacoes div:hover.alert-info {
   
    background-color: #f8f8f8 !important;

  
}


.alert-icon {
    width:40px;
    height:40px;
    display:inline-block;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;


}
.alert-icon i {
    width:40px;
    height:40px;
    display:block;
    text-align:center;
    line-height:40px;
    font-size:20px;
    color:#fff;
}
.notification-info {
    margin-left:56px;
    margin-top:-40px;
}
.notification-meta {
    margin-bottom:3px;
    padding-left: 0;
    list-style: none;
}
.notification-info p {
    margin:0px;
    color:#999;
        } 

        .alert-info .alert-icon {
    background-color:#d3d3d3;
}
div:hover.alert .alert-icon {
    background-color:#F78B1F;
}
.alert-danger .alert-icon {
    background-color:#fcb1ae;
}
.alert-success .alert-icon {
    background-color:#98d7ad;
}
.alert-warning .alert-icon {
    background-color:#ffe699;
}





.canal .nav>li>a {
  padding: 5px 25px;
}
.canal 
.navbar-nav>li {
    float: left;
    padding: 0px 5px;
}

.user_info {
    margin: 2px auto;   
    position: fixed;
    right: 0;
    width: 30%; 
}

.user_info_fixed {
    position: absolute;
    right: 15px;
        top: 7px;
}






.label-danger.user_restrito  {
    background-color: #fd0700;
    padding: 5px;
}




.titulo_form {
    color: #777;
    font-weight: 400;
}
.left_mobile{ float: left; }
.right_mobile{ float: right; }


dd {
    margin-left: 0;
    margin-bottom: 15px;
}

.radiomargin0 {
    margin: 0px;
}

/* Barra de Historico */
.historico{ background-color: #E8E8E6; padding: 5px 0px; border-top: 1px dotted #ccc}


.historico ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.historico  ul > li {
float: left;
}
.historico ul > li {
    color: #3691d1;
    text-align: center;
}

.historico ul > li  i{
     color: #043f67;
    font-size: 18px;
    position: relative;
  }




/* selectable */

.ms-container:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
  background: #fff;
  color: #555555;
  float: left;
  width: 45%;
}

.ms-container .ms-selection {
  float: right;
}

.ms-container .ms-list {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto;
}

.ms-container .ms-list.ms-focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul {
  margin: 0;
  /*list-style-type: none;*/
  padding: 0;
}

.ms-container .ms-optgroup-container {
  width: 100%;
}

.ms-container .ms-optgroup-label {
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  border-bottom: 1px #eee solid;
  padding: 10px;
  color: #015694;
  font-weight: bold;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover , .ms-container .ms-selectable li:hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #084572;
  font-weight: bold;
  ;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
  background-color: #eee;
  color: #aaa;
  cursor: text;
}



.well-resultado{
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
        background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.cursos_historico {

    padding: 4px;
    margin-bottom: 10px;
    background-color: #ffffff;
       /* border: 1px solid #bdc4ca;*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}



ul.list-lh1 li {     padding: 0px 0px; }


.form-control{ padding: 3px 5px; color: #004687; font-weight: normal;}   



.check_set .checkbox, .check_set .radio {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #004687;  
    
}

.check_cursos .checkbox input[type=checkbox]{margin-left: 0px;}

.check_set legend {
    margin-bottom: 5px;
  }

/* 
*:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
*/



/*profile*/
.profile-information .profile-pic img {
    width:160px;
    height:160px;
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid #f1f2f7;
    margin-top:7px;
}
.profile-information .profile-desk {
    border-right:1px solid #ddd;
    padding-right:30px;
}
.profile-information .profile-desk h1 {
    color:#f78a1e;
    font-size:24px;
    font-weight:bold;
    margin-bottom:0;
}
.profile-information .profile-desk span,.profile-information .profile-desk p {
    padding-bottom:10px;
    display:inline-block;
}
.profile-information .profile-statistics h1 {
    color:#3174a8;
    font-size:24px;
    font-weight:400;
    margin-bottom:5px;
}
.profile-information .profile-statistics p {
    margin-bottom:15px;
    display:inline-block;
}
.profile-information .profile-statistics ul {
    margin-top:10px;
}
.profile-information .profile-statistics ul li {
    float:left;
    margin-right:10px;
    list-style: none;
}
.profile-information .profile-statistics ul li a {
    background:#f6f6f6;
    text-align:center;
    border-radius:50%;
    -webkit-border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    float:left;
}
.profile-information .profile-statistics ul li a:hover {
    color: #005594;
}
/*-----*/
.profile-nav .user-heading {
    color:#fff;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    padding:30px;
    text-align:center;
}
.profile-nav .user-heading.round a {
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid rgba(256,256,256,0.3);
    display:inline-block;
}
.profile-nav .user-heading a img {
    width:112px;
    height:112px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.profile-nav .user-heading h1 {
    font-size:20px;
    font-weight:300;
    margin-bottom:5px;
}
.profile-nav .user-heading p {
    font-size:16px;
    color:#8b8b8b;
    line-height:25px;
}
.profile-nav ul {
    margin-top:1px;
}
.profile-nav ul>li {
    border-bottom:1px solid #ebeae6;
    margin-top:0;
    line-height:30px;
}
.profile-nav ul>li:last-child {
    border-bottom:none;
}
.profile-nav ul>li>a {
    border-radius:0;
    -webkit-border-radius:0;
    color:#89817f;
}
.profile-nav ul>li>a:hover,.profile-nav ul>li>a:focus,.profile-nav ul li.active a {
    background:#f8f7f5 !important;
    color:#89817f !important;
}
.profile-nav ul>li:last-child>a:last-child {
    border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
}
.profile-nav ul>li>a>i {
    font-size:16px;
    padding-right:10px;
    color:#bcb3aa;
}
.r-activity {
    margin:6px 0 0;
    font-size: 12px;
}
/*-----*/
.recent-act {
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    position:relative;
    table-layout:fixed;
    width:100%;
}
.recent-act:before {
    background-color:#eeeeee;
    bottom:0;
    content:"";
    left:50%;
    position:absolute;
    top:50px;
    width:2px;
    z-index:0;
}
.recent-act h1 {
    text-align:center;
    color:#005594;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
}
.activity-icon.terques {
    background:#8fd6d6;
}
.activity-icon.red {
    background:#EF6F66;
}
.activity-icon.purple {
    background:#bda4ec;
}
.activity-icon.green {
    background:#aec785;
}
.activity-icon.yellow {
    background:#fed65a;
}
.activity-icon {
    border-radius:50%;
    -webkit-border-radius:50%;
    color:#FFFFFF;
    height:30px;
    line-height:30px;
    text-align:center;
    width:30px;
    margin:20px auto 20px;
    position:relative;
}
.activity-icon {
    background:#C7CBD6;
}
.activity-desk {
    padding:15px 30px;
    background:#f2f2f2;
    border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    text-align:center;
}
.activity-desk h2 {
    color:#005594;
    font-size:14px;
    font-weight:bold;
    margin:0 0 10px 0;
    text-transform:uppercase;
}
.activity-desk .terques {
    color:#005594;
}
.activity-desk .red {
    color:#EF6F66;
}
.activity-desk .purple {
    color:#bda4ec;
}
.activity-desk .green {
    color:#aec785;
}
.activity-desk .yellow {
    color:#fed65a;
}
.activity-desk .blue {
    color:#20aaf1;
}
.photo-gl {
    margin-top:10px;
    display:inline-block;
}
.photo-gl a {
    margin:0 10px;
}
.photo-gl a img {
    border:1px solid #c8c8c8;
    width:150px;
    height:120px;
}
.prf-box {
    display:inline-block;
    width:100%;
    margin-bottom:30px;
}
.prf-border-head {
    color:#005594;
    border-bottom:1px solid #f1f2f7;
    font-size:16px;
    font-weight:bold;
    padding-bottom:10px;
    margin-bottom:20px;
    text-transform:uppercase;
}
.wk-progress {
    border-bottom:1px solid #f1f2f7;
    margin-bottom:20px;
    width:100%;
    display:inline-block;
}
.pf-status {
    padding-bottom:25px;
}
.tm-avatar img {
    width:50px;
    height:50px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.tm-membr {
    padding-bottom:12px;
    margin-bottom:10px;
}
.tm-membr .tm {
    padding-top:10px;
    display:inline-block;
    padding-left: 10px;
}
/*profile contact*/
.prf-contacts h2 {
    color:#005594;
    font-size:16px;
    margin-top:0;
    text-transform:uppercase;
}
.prf-contacts h2 span {
    width:40px;
    height:40px;
    line-height:42px;
    background:#005594;
    color:#fff;
    border-radius:50%;
    -webkit-border-radius:50%;
    display:inline-block;
    text-align:center;
    margin-right:15px;
}
.prf-contacts h2 span i {
    font-size:16px;
}
.prf-contacts .location-info {
    margin-left:60px;
}
.prf-contacts .location-info p {
    padding-bottom:30px;
}
.prf-map {
    width:430px;
    height:430px;
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid #e6e6e6;
    margin-top:50px;
}
.sttng h2 {
    margin: 20px 0;
}

/*Timeline chat*/
.chat-form {
    margin-top:25px;
    clear:both;
}
.chat-form .input-cont {
    margin-bottom:10px;
}
.chat-form .input-cont input {
    margin-bottom:0px;
}
.chat-form .input-cont input {
    border:1px solid #d3d3d3 !important;
    margin-top:0;
    min-height:45px;
}
.chat-form .input-cont input {
    background-color:#fff !important;
}
.chat-features a {
    margin-left:10px;
}
.chat-features a i {
    color:#d0d0d0;
}
.timeline-messages h3 {
    margin-bottom:30px;
    color:#005594;
    font-size:16px;
    text-transform:uppercase;
    background:#fff;
    padding:20px;
    margin-top:-3px;
    position:relative;
}
.timeline-messages:before {
    background:rgba(0,0,0,0.05);
    bottom:0;
    top:0;
    width:2px;
}
.timeline-messages:before,.msg-time-chat:before,.msg-time-chat .text:before {
    content:"";
    left:20px;
    position:absolute;
    top:-2px;
}
.timeline-messages,.msg-time-chat,.timeline-messages .msg-in,.timeline-messages .msg-out {
    position:relative;
}
.timeline-messages .msg-in .arrow {
    border-right:8px solid #949496 !important;
}
.timeline-messages .msg-in .arrow {
    border-bottom:8px solid transparent;
    border-top:8px solid transparent;
    display:block;
    height:0;
    left:-8px;
    position:absolute;
    top:25px;
    width:0;
}
.timeline-messages .msg-out .arrow {
    border-right:8px solid #41cac0 !important;
}
.timeline-messages .msg-out .arrow {
    border-bottom:8px solid transparent;
    border-top:8px solid transparent;
    display:block;
    height:0;
    left:-8px;
    position:absolute;
    top:25px;
    width:0;
}
.msg-time-chat:first-child:before {
    margin-top:27px;
}
.msg-time-chat:before {
    background:#CCCCCC;
    border:2px solid #FAFAFA;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    height:16px;
    margin:35px 0 0 -7px;
    width:16px;
}
.msg-time-chat:hover:before {
    background:#41cac0;
}
.msg-time-chat:first-child {
    padding-top:0;
}
.message-img {
    float:left;
    margin-right:30px;
    overflow:hidden;
}
.message-img img {
    display:block;
    height:44px;
    width:44px;
}
.message-body {
    margin-left:50px;
    display: inline-block;
}
.msg-time-chat .msg-in .text {
    /*border:1px solid #e3e6ed;*/
    /*padding:10px;*/
    border-radius:4px;
    -webkit-border-radius:4px;
    margin-top:14px;
}
.msg-time-chat .msg-in .text .first {
    background:#949496;
    padding:10px;
    color:#fff;
    float:left;
    border-radius:4px;
    -webkit-border-radius:4px;
    margin-right:5px;
    width:130px;
    text-align:right;
}
.msg-time-chat .msg-in .text .second {
    background:#8fd6d6;
    padding:10px;
    color:#fff;
    float:left;
    border-radius:4px;
    -webkit-border-radius:4px;
}
.msg-time-chat .msg-out .text {
    border:1px solid #e3e6ed;
    padding:10px;
    border-radius:4px;
    -webkit-border-radius:4px;
}
.msg-time-chat p {
    margin:0;
}
.msg-time-chat .attribution {
    font-size:11px;
    margin:0px 0 5px;
}
.msg-time-chat {
    overflow:hidden;
    padding:8px 0;
}
.msg-in a,.msg-in a:hover {
    color:#b64c4c;
    text-decoration:none;
    border-radius:4px;
    -webkit-border-radius:4px;
    margin-right:10px;
    font-weight:400;
    font-size:13px;
}
.msg-out a,.msg-out a:hover {
    color:#288f98;
    text-decoration:none;
    border-radius:4px;
    -webkit-border-radius:4px;
    margin-right:10px;
    font-weight:400;
    font-size:13px;
}
.bg-terques {
    background:#8fd6d6 !important;
}
.bg-red {
    background:#ffa991 !important;
}
.bg-purple {
    background:#bda4ec !important;
}
.bg-green {
    background:#aec785 !important;
}
.bg-yellow {
    background:#fed65a !important;
}
.bg-blue {
    background: #99cce3 !important;
}
/*boxed page */
.boxed-page {
    background-color:#000 !important;
}
.box-head {
    background:none;
}
.boxed-page .container {
    background:#32323A;
    padding-left:0;
    padding-right:0;
}
.boxed-page>.container {
    overflow:hidden;
}
.boxed-page .container #sidebar {
    position:inherit;
}
.boxed-page .container .header .container {
    background:#fff;
}
.boxed-page .container aside {
    float:left;
}
.boxed-page .container .wrapper {
    background:#F1F2F7;
    min-height:900px;
}
.boxed-page .brand {
    margin-left: 0;
}

/* google maps */
.gmaps {
    height:300px;
    width:100%;
}
.ullist {
    border-bottom:#ccc 1px solid;
    margin-left:20px;
}
.ullist li {
    display:inline-block;
    margin-left:5px;
}
.ullist li a {
    display:inline-block;
    padding:10px 20px !important;
    border-top:#ccc 1px solid;
    border-left:#ccc 1px solid;
    border-right:#ccc 1px solid;
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0;
    background:#f1f1f1;
}
.ullist li.active a {
    background:#fff;
    border-bottom:#fff 1px solid;
    position:relative;
    top:1px;
    margin-bottom: -1px;
}
/* star rating */
.rating {
    unicode-bidi:bidi-override;
    direction:rtl;
    font-size:30px;
}
.rating span.star,.rating span.star {
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    display:inline-block;
}
.rating span.star:hover,.rating span.star:hover { 
    cursor:pointer;
}
.rating span.star:before,.rating span.star:before { 
    content:"\f006";
    padding-right:5px;
    color:#BEC3C7;
}
.rating span.star:hover:before,.rating span.star:hover:before,.rating span.star:hover ~ span.star:before,.rating span.star:hover ~ span.star:before {
    content:"\f005";
    color: #41CAC0;
}

.panel-body.profile-information{ padding: 20px; background-color: #fff }     




/* new */

s, strike, del {
    text-decoration: line-through !important; 
} 



pre {
       font-family: inherit !important;
    font-size: inherit !important; 
    display: block;
    padding: 5px;
    margin: 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    overflow: inherit;   
        font-weight: normal;  
}

.check_cursos fieldset{ min-height: 180px; }     
.check_cursos fieldset.fieldset_multiple{ min-height: auto; }   

input[type=file] {
    display: block;
    color: #cc9257;
}

.linegrey {
    background: #d8d8d8;
    height: 9px;
    margin: 10px 0 12px 0;
    padding: 0;
    display: block;
}

.btn-breadcrumb .btn{ text-transform: inherit !important;   
                       font-weight: normal;
                        color: #0f99de;}   

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;  
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
 padding: 10px 10px 10px 15px;
}
.btn-breadcrumb .btn:first-child {
    padding: 10px 5px 10px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding: 10px 5px 10px 15px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

.modalHistoricos {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.pre_formatada pre {
    white-space: inherit !important;
}

.show-on-hover:hover > ul.dropdown-menu , .show-on-hover:focus > ul.dropdown-menu{
    display: block;
    left: inherit;
    right: 0;
    padding:5px 10px;  
    top: 19px;
    min-width: 250px;
}  


.registrar_interesse{  
    
   padding: 0px;    
    background: #00478b;
    border-left: 10px solid #ff7f00;  
} 

.resultado_interesse{ 

    padding: 10px;    
     background: #f5f5f5; 
  }


.resultado_interesse fieldset { 
    min-height: 150px;
}
.check_interesse label.btn-default {
     color: #000;
    font-weight: normal;
    text-transform: capitalize; 
  }
.check_interesse label span { 
     margin-left: 5px;  
}

.site-min-height {
    min-height: 800px;
}

/*Grid*/

.grid_sistema{ 
  padding: 2px 5px; 

margin-bottom: 15px;
background-color: #e0e0e0;
border: 1px solid #d2d2d2; 
border-radius: 3px;

   } 

   .grid [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);

 }

 .col-print-4{ margin-bottom: 10px; }
 
 
.admti{
	height: 800px;
	width: 100%;
	margin: 5px;
}