/*  tabelas */

.titulo_table {
  /*white-space: nowrap;*/
  font-weight: normal;
}

.descricao_table {
  /*font-size: 10px;*/
  line-height: 12px !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 3px;
   vertical-align: baseline;    
}

.table>tbody>tr>td:first-child,
.table>tbody>tr>th:first-child,
.table>tfoot>tr>td:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>td:first-child,
.table>thead>tr>th:first-child {
border-left: 0;
}

.table>tbody>tr>td:last-child,
.table>tbody>tr>th:last-child,
.table>tfoot>tr>td:last-child,
.table>tfoot>tr>th:last-child,
.table>thead>tr>td:last-child,
.table>thead>tr>th:last-child {
border-right: 0;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  background: #fff;
} 

table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] {
  color: #3a87ad;
  background: #d9edf7;
  border-bottom-color: #bce8f1;
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] {
  color: #3a87ad;
  background: #d9edf7;
  border-bottom-color: #bce8f1;
}



table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; 
  cursor: pointer;
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"][data-sorted-direction="ascending"]:after {
  border-bottom-color: #3a87ad;
}

table[data-sortable] th[data-sorted-direction="ascending"]:after {
  border-bottom-color: inherit;
  margin-top: 0px;
}

table[data-sortable] th[data-sorted-direction="descending"]:after {
  border-top-color: inherit;
  margin-top: 3px;
}

table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}

table[data-sortable] th:after {
  content: "";
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0; 
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin-right: 1px;
  margin-left: 10px;
  float: right;
}


 
tr.acesso_novo {
  background-color: #fcf8e3 !important;
}


/* calendario datepicker */
.datepicker-days  .dow{padding: 10px; color: #005594;}
.datepicker thead tr:first-child th {
    color: #f78b1f;
}


.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}

.table-link tr:hover , tr.tr-link:hover { color: #1288e2 }

.table-bordered>thead>tr>th {
    border-bottom-width: 0px;
        background-color: #ffffff;
    color: #004687; 
}

.table-bordered>thead>tr.table_verde>th {
    border-bottom-width: 0px;
    background-color: #005593;
    color: #ffffff;
}

tr.collapse.in, tr:hover.collapse.in{
 
    background-color: #dcdcdc;
}



tr[aria-hidden="true"]{  
  background-color: #48a148;
    color: #ffffff; 
  }  



button.accordion_tr:after {
    font-family:'FontAwesome';
       content: "\f068";
    float: right;
}
button.accordion_tr.collapsed:after {
    font-family:'FontAwesome';
            content: "\f067"
}


button.accordion_tr {
  top: -5px;
    right: -2px;
    position: relative;  
        padding: 2px 6px;
}
